{% extends 'base.html' %}

{% block title %}POS | Employee{% endblock %}


{% block body %}
    <div class="col s12 m12 l12" style="margin-top: 30px; margin-bottom: 30px;">

        <!-- Add Employee -->
        <a class="waves-effect waves-light btn modal-trigger" href="#add_employee">Add Employee</a>
        <a class="waves-effect waves-light btn del">Delete</a>

        <!-- Modal Structure -->
        <div id="add_employee" class="modal">
            <div class="modal-content">
                <h4>Add Employee</h4>

                <div class="row">
                    <div class="col s12 m10 offset-m1 l10 offset-l1">
                        <form method="post">
                            {% csrf_token %}

                            <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">account_circle</i>
                                {{ employee_form.first_name }}
                                <label for="icon_prefix white-text">*First Name</label>
                            </div>

                            <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">account_circle</i>
                                {{ employee_form.last_name }}
                                <label for="icon_prefix white-text">*Last Name</label>
                            </div>

                            <div class="col s12 m10 offset-m1 l10 offset-l1">
                                Select Gender
                                {{ employee_form.gender }}
                            </div>

                            <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">email</i>
                                {{ employee_form.email }}
                                <label for="icon_prefix white-text">*Email</label>
                            </div>

                            <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">call</i>
                                {{ employee_form.phone_number }}
                                <label for="icon_prefix white-text">Phone</label>
                            </div>

                            <div style="" class="input-field col s12 m12 l12">
                                <i class="material-icons prefix">location_on</i>
                                {{ employee_form.address }}
                                <label for="icon_prefix white-text">Address</label>
                            </div>

                            <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">email</i>
                                {{ employee_form.city }}
                                <label for="icon_prefix white-text">City</label>
                            </div>

                            <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">email</i>
                                {{ employee_form.state }}
                                <label for="icon_prefix white-text">State</label>
                            </div>

                            <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">email</i>
                                {{ employee_form.post_code }}
                                <label for="icon_prefix white-text">Post Code</label>
                            </div>

                            <div style="" class="input-field col s12 m12 l12">
                                <i class="material-icons prefix">create</i>
                                {{ employee_form.comment }}
                                <label for="icon_prefix white-text">Comment</label>
                            </div>

                            {% if employee_form.non_field_errors %}
                                {% for error in employee_form.non_field_errors %}
                                    <div class="col s12 m12 l12 center-align">
                                        <h4 style="color: red;">Sorry ! Some Issue Found ,</h4>
                                        <p style="color: red; font-size: 20px;">
                                            {{ error }}
                                        </p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col s12 m12 l12 center-align" style="margin-bottom: 20px;">
                    <button class="btn waves-effect waves-light" type="submit" style="">Add
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>

            </form>
        </div>
        <!--end Add Employee-->


    </div>

    <table style="margin-top: 100px;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>

        <tbody id="c_b">
            {% for employee in employees %}
                <form method="post">
                    <tr class="emp">
                        <td>
                            <input class="emp_check" type="checkbox" value="{{ employee.id }}" id="{{ employee.id }}" />
                            <label class="black-text" for="{{ employee.id }}">{{ employee.id }}</label>
                        </td>

                        <td>{{ employee.last_name }}</td>
                        <td>{{ employee.first_name }}</td>
                        <td>{{ employee.email }}</td>
                        <td>{{ employee.phone_number }}</td>
                    </tr>
                </form>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block js %}

<script>
    $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });



  $(document).ready( function() {
        var checked_list = [];

        $(".emp_check").change( function() {

            var employee_id = $(this).closest(".emp_check").val();

            if ($(this).prop('checked')) {
                checked_list.push(employee_id);
            }else{
                checked_list = jQuery.grep(checked_list, function(value) {
                  return value != employee_id;
                });
            }
            console.log(checked_list);
        });


        $(".del").click(function(){
            $.ajax({
                url: '/employee/api/',
                data: {usr:checked_list.join(',')},
                dataType: 'json',

                success: function (data) {

                    console.log(data);
                    window.location.href="{% url 'home:employee' %}";

                }
            });
        });
    });





</script>

{% endblock %}
